body {
    background-color: black;
    color: beige;
}

.navbar{
    position: relative;
    color: beige;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    text-decoration: none;
    
    
}

.navbar:hover{
    color: rgb(241, 134, 63);
    font-family: 'Indie Flower', cursive;
    transition: .3s;
    text-decoration: none;

}

.dropdown-item { text-align: left; }

.period{
    color: #487cff;
}

.second-box{
    color:beige;
}
