body{
    color: beige;
    font-family: 'Rajdhani', sans-serif;
    background-color: darkblue !important;
    background-repeat: no-repeat !important;
    background-attachment:   fixed !important;
    
}

.navbar{
    position: relative;
    color: beige;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    text-decoration: none;
    
    
}

.navbar:hover{
    color: rgb(241, 134, 63);
    font-family: 'Rajdhani', sans-serif;
    transition: .3s;
    text-decoration: none;

}

.dropdown-item { text-align: left; }

.period{
    color: #487cff;
}

.second-box{
    color:beige;
    z-index: 2;
}

.type{
    text-align: center;
    margin: 20%;
    
}

button{
    text-align: center;
    background: none;
    color: beige;
    width: 120px;
    height: 40px;
    border: 1 px solid cyan;
    font-size: 15px;
    border-radius: 20px;
    transition: .6s;
    overflow: hidden;
}

#particles-js {
    background-color: darkblue;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  
  #overlay {
    position: relative;
    padding: 50px;
  }

.gsc-control-cse.gsc-control-cse-en{
    
    background: rgba(255, 255, 255, 0);
    border: .1px solid rgba(255, 255, 255, 0);
    border-bottom: none;
    padding: 10;
    margin: 0;
    
}