body {background-color: black;}

.navbar{
    color: rgba(240, 245, 220, 0.596);
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}

.navbar:hover{
    color: rgb(241, 134, 63);
    font-family: 'Indie Flower', cursive;
    transition: .3s;

}

.navbar::active{
    color: rgba(240, 245, 220, 0.596);
    font-family: 'Indie Flower', cursive;
    transition: .3s;

}


.dropdown-item { text-align: left; }